@use "../../../../../styles.scss" as *;

:host {
  display: flex;
  flex-direction: column;

  height: 100%;
  flex: 1;
}

.chat-module {
  height: inherit;
  flex-direction: inherit;
  display: inherit;

  padding: 15px;
  --_submit-msg-btn-width: clamp(150px, 20vw, 300px);

  &__error {}

  &__messages-list {
    --_gap: 15px;

    display: flex;
    flex-direction: column;

    gap: var(--_gap);
    padding-bottom: var(--_gap);

    flex-grow: 1;

    overflow-y: scroll;
  }


  &__message-item {

    &--join {
      @include center-flex;
    }

    &--chat {
      display: flex;
      flex-direction: column;
      width: fit-content;
      padding: 15px;

      --_border-radius: 10px;

      &-user {
        align-self: flex-end;
        background-color: var(--color-ycyw-1);
        border-radius: var(--_border-radius) var(--_border-radius) 0 var(--_border-radius);
        color: white;
      }

      &-other {
        align-self: flex-start;
        background-color: var(--color-ycyw-2);
        border-radius: var(--_border-radius) var(--_border-radius) var(--_border-radius) 0;
        color: black;
      }
    }

    &--leave {
      @include center-flex;
    }

    &--error {}
  }

  &__message-main-info {}

  &__sender {
    --ycyw-gradient: linear-gradient(90deg, var(--color-ycyw-1), var(--color-ycyw-2));
    font-weight: bolder;

    &--join {
      @include text-background(var(--ycyw-gradient));
    }

    &--chat {}

    &--leave {
      @include text-background(var(--ycyw-gradient));
    }

    &--error {}
  }


  &__send-message-form {
    display: flex;
    gap: 15px;

    margin-top: auto;
  }


  &__submit-button {
    width: var(--_submit-msg-btn-width);


    &:disabled {
      filter: contrast(65%) grayscale(65%);
    }
  }

  &__textarea {
    width: calc(100% - var(--_submit-msg-btn-width));
    resize: none;
  }
}
