<div class="device-toggle__container">
  <!-- Toggle Button -->
  <label class="device-toggle__checkbox">
    <input type="checkbox" class="device-toggle__input hide" id="device-toggle-{{deviceType()}}"
      (change)="handleToggle($event)" [checked]="isEnabled()" />

    @switch (deviceType()) {
    @case ('webcam') {
    <mat-icon>{{ isEnabled() ? 'videocam' : 'videocam_off' }}</mat-icon>
    }
    @case ('microphone') {
    <mat-icon>{{ isEnabled() ? 'mic' : 'mic_off' }}</mat-icon>
    }
    @case ('speaker') {
    <mat-icon>speaker</mat-icon>
    }
    @case ('screenShare') {
    <!-- TODO Add logic for WebRTC since user can't share screen if they're not in a WebRTC session -->
    <mat-icon>{{ isEnabled() ? 'desktop_windows' : 'phonelink_off' }}</mat-icon>
    }
    @case ('screenRecording') {
    <mat-icon>{{ isEnabled() ? 'stop' : 'play_arrow' }}</mat-icon>
    }

    @default {

    }

    }

  </label>

  <!-- Device Switch Dropdown -->
  @if(deviceType() !== 'screenShare'&& deviceType() !== 'screenRecording' && deviceList().length > 0){
  <label class="device-toggle__select-label" for="device-toggle-{{deviceType()}}">
    <mat-icon>keyboard_arrow_down</mat-icon>

    <select class="device-toggle__select" (change)="handleSwitch($event)">
      @for(device of deviceList(); let index = $index; track index){
      <option [value]="device.deviceId" selected="{{deviceType() === 'webcam' ? index === 0 : device.isDefaultDevice}}">
        {{ device.label || 'Unknown Device' }}</option>
      }
    </select>
  </label>
  }
</div>
