@use "../../../../../styles.scss" as *;


:host {
  width: fit-content;
  order: -1;
}

.chat-room-media {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  padding: 15px;

  &__users-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  &__user {
    min-width: 200px;
    min-height: 100px;
    border-radius: 15px;

    font-family: "Phosphate Pro Solid";

    border: 2px solid currentColor;

    @include center-flex;

    text-align: center;
    text-transform: uppercase;
    overflow: hidden;

    position: relative;

  }

  &__controls-fieldset {
    display: flex;
    flex-direction: column;
  }

  &__control {

    &--disabled {
      opacity: 50%;
      filter: grayscale(100%);

      cursor: not-allowed;
    }
  }

  &__video-input-device {

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__audio-input-device {

    &:disabled {
      cursor: not-allowed;
    }
  }


  &__join-button {

    width: fit-content;

    &--is-full {
      width: fit-content;
      filter: grayscale(1) !important;
    }
  }

  &__username {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__webcam-video {
    width: 300px;
    height: 150px;

    @include fit-image(contain);

    scale: -100% 100%;

    transition: width 250ms ease-in-out, height 250ms ease-in-out;

    &--remote {
      scale: 100% 100%;


      // &:picture-in-picture {      }
    }

    &--has-screen {
      --_size: 100% !important;

      width: var(--_size);
      height: var(--_size);
    }
  }


  &__calls-item {
    display: flex;

  }

  &__audio-indicator {}


  &__error-message {
    color: red;

    display: inline-flex;
    flex-direction: column;
  }

}