<aside class="chat-room-media">
  <ul class="chat-room-media__users-list">
    @for(user of usersList(); let index = $index; track index){
    <li class="chat-room-media__user">
      <p class="chat-room-media__username">
        {{user}}
      </p>
    </li>
    }
  </ul>

  <h3 class="chat-room-media__local-stream-title">
    Awaiting calls
  </h3>
  @if(!roomsList().length){
  <p>No calls have been made yet</p>
  }
  <ul class="chat-room-media__calls-list">

    @for(room of roomsList(); let index = $index; track index){
    <li class="chat-room-media__calls-item">
      Incoming call request from: {{room.roomName}}
      <button type="button"
        class="ycyw__button ycyw__button--2 chat-room-media__{{currentRoom() ? 'has-joined' : 'no-join'}} {{room.isFull ? 'chat-room-media__join-button--is-full' : 'chat-room-media__join-button'}}"
        (click)="connectToRoom(room.roomName)"
        [disabled]="room.roomName === ownUsername() || currentRoom() || room.isFull">
        {{room.isFull ? 'Full' :
        'Join'}}
      </button>
    </li>
    }

  </ul>

  @if(roomErrorMessage){
  <p class="chat-room-media__error-message">
    An unexpected error occurred in room: {{roomErrorMessage}}
  </p>
  }

  <section class="chat-room-media__peer-to-peer-stream">
    <h3 class="chat-room-media__local-stream-title">
      Local stream {{!webRtcSessionStarted ? "(preview)" : ""}}
    </h3>
    <div class="chat-room-media__local-media-container">


      <video autoPlay playsInline muted volume="0" disablePictureInPicture #ownWebCamVideoRef
        class="chat-room-media__webcam-video chat-room-media__webcam-video--local"></video>


      <progress value="0" max="0.25" #ownAudioVolumeIndicator class="chat-room-media__audio-indicator"></progress>
    </div>

    <h3 class="chat-room-media__remote-stream-title">
      Remote stream
    </h3>
    <div class="chat-room-media__remote-media-container">

      <video autoPlay playsInline #remoteWebCamVideoRef
        class="chat-room-media__webcam-video chat-room-media__webcam-video--remote"></video>


      <progress value="0" max="0.25" #remotePeerAudioVolumeIndicator
        class="chat-room-media__audio-indicator"></progress>
    </div>

    @if (hasPiPModeAvailable() && webRtcSessionStarted){
    <button (click)="requestPictureInPicture()">PiP</button>

    <label>
      <input type="checkbox" name="" [checked]="isPiPToggleEnabledOnTabSwitch()"
        (click)="togglePiPOnTabSwitch($event)" />
      Remove Picture-in-picture on current tab switch
    </label>
    }

  </section>

  <section class="chat-room-media__local-stream">
    <p class="chat-room-media__error-message">
      @if(hasWebcamPermissionDenied()){
      <span class="chat-room-media__error-message--span">Webcam permission has been denied</span>
      }

      @if(hasMicrophonePermissionDenied()){
      <span class="chat-room-media__error-message--span">Microphone permission has been denied</span>
      }

      @if(hasCanceledScreenCast()){
      <span class="chat-room-media__error-message--span">Screen cast has been canceled</span>
      }

    </p>



    <form class="chat-room-media__controls">

      <fieldset class="chat-room-media__controls-fieldset chat-room-media__controls-fieldset--toggles">

        @if(webRtcSessionStarted){
        <legend class="chat-room-media__controls-legend chat-room-media__controls-legend--toggles">Toggle controls
          (WebRTC session on)
        </legend>
        <label
          class="chat-room-media__label chat-room-media__control {{!showWebcam()? 'chat-room-media__control--disabled' : '' }}">
          <input type="checkbox" name="local-connection-control webcam" class="chat-room-media__input"
            (change)="toggleInputDevicesOnWebRtc($event)" [checked]="hasEnabledWebcamForWebRTC()"
            [disabled]="!showWebcam() || showScreenCast()" />

          @if(showWebcam()){
          {{ hasEnabledWebcamForWebRTC() ? "Disable webcam" : "Enable webcam" }}
          }@else {
          Webcam access has not been granted
          }
        </label>

        <label
          class="chat-room-media__label chat-room-media__control {{!openMicrophone()? 'chat-room-media__control--disabled' : '' }}">
          <input type="checkbox" name="local-connection-control microphone" class="chat-room-media__input"
            (change)="toggleInputDevicesOnWebRtc($event)" [checked]="hasEnabledMicrophoneForWebRTC()"
            [disabled]="!openMicrophone()" />

          @if (openMicrophone()){
          {{ hasEnabledMicrophoneForWebRTC() ? "Disable audio" : "Enable audio" }}
          }@else {
          Microphone access has not been granted
          }
        </label>

        <button type="button" (click)="toggleScreenCast($event)"
          [disabled]="showScreenCast() ||  !hasEnabledWebcamForWebRTC()">
          Screen cast ({{ showScreenCast() ? 'Stop' : 'Start' }})
        </button>

        }@else {
        <legend class="chat-room-media__controls-legend chat-room-media__controls-legend--toggles">Toggle controls
        </legend>
        <label class="chat-room-media__label chat-room-media__control">
          <input type="checkbox" name="local-connection-control" class="chat-room-media__input"
            (change)="toggleWebcam($event)" [checked]="showWebcam()" />
          {{ showWebcam() ? "Stop webcam access" : "Start webcam access" }}
        </label>

        <label class="chat-room-media__label chat-room-media__control">
          <input type="checkbox" name="local-connection-control" class="chat-room-media__input"
            (change)="toggleAudio($event)" [checked]="openMicrophone()" />
          {{ openMicrophone() ? "Stop audio access" : "Start audio access" }}
        </label>
        }


      </fieldset>

      <fieldset class="chat-room-media__controls-fieldset chat-room-media__controls-fieldset--devices">
        <legend class="chat-room-media__controls-legend chat-room-media__controls-legend--devices">Device inputs/outputs
        </legend>

        @if(webRtcSessionStarted){
        <label
          class="chat-room-media__label chat-room-media__control {{ (!hasEnabledWebcamForWebRTC()) ? 'chat-room-media__control--disabled' : '' }}">
          Video input device
          <select class="chat-room-media__video-input-device" (change)="switchWebcamDevice($event)"
            [disabled]="!hasEnabledWebcamForWebRTC()">
            @for(device of videoInputsList(); let index = $index; track index){
            <option value="{{device.deviceId}}" selected="{{device.isDefaultDevice}}">{{device.label}}</option>
            }
          </select>
        </label>

        <label
          class="chat-room-media__label chat-room-media__control {{ (!hasEnabledMicrophoneForWebRTC()) ? 'chat-room-media__control--disabled' : '' }}">
          Audio input device
          <select class="chat-room-media__audio-input-device" (change)="switchMicrophoneDevice($event)"
            [disabled]="!hasEnabledMicrophoneForWebRTC()">
            @for(device of audioInputsList(); let index = $index; track index){
            <option value="{{device.deviceId}}" selected="{{device.isDefaultDevice}}">{{device.label}}</option>
            }
          </select>
        </label>

        }@else {

        <label
          class="chat-room-media__label chat-room-media__control {{ (!showWebcam() && !webRtcSessionStarted) ? 'chat-room-media__control--disabled' : '' }}">
          Video input device
          <select class="chat-room-media__video-input-device" (change)="switchWebcamDevice($event)"
            [disabled]="!showWebcam() && !webRtcSessionStarted">
            @for(device of videoInputsList(); let index = $index; track index){
            <option value="{{device.deviceId}}" selected="{{device.isDefaultDevice}}">{{device.label}}</option>
            }
          </select>
        </label>

        <label
          class="chat-room-media__label chat-room-media__control {{ (!openMicrophone() && !webRtcSessionStarted) ? 'chat-room-media__control--disabled' : '' }}">
          Audio input device
          <select class="chat-room-media__audio-input-device" (change)="switchMicrophoneDevice($event)"
            [disabled]="!openMicrophone() && !webRtcSessionStarted">
            @for(device of audioInputsList(); let index = $index; track index){
            <option value="{{device.deviceId}}" selected="{{device.isDefaultDevice}}">{{device.label}}</option>
            }
          </select>
        </label>
        }




        <label class="chat-room-media__label chat-room-media__control" (change)="switchSpeakerDevice($event)">
          Audio output device
          <select name="audio-output-device">
            @for(device of audioOutputsList(); let index = $index; track index){
            <option value="{{device.deviceId}}" selected="{{device.isDefaultDevice}}">{{device.label}}</option>
            }
          </select>
        </label>

      </fieldset>

    </form>

  </section>

  @if(currentRoom()){
  @if(isReceiver){
  <button type="button" class="chat-room-media__button ycyw__button ycyw__button--2"
    (click)="disconnectFromRoom()">Disconnect from
    room</button>

  @if(!webRtcSessionStarted){
  <p class="chat-room-media__error-message">
    @if(!localPeerHasSharedLocalMedia()){
    <span class="chat-room-media__error-message--span">You must share your local stream in to allow the other peer to
      start a
      WebRTC session</span>
    }


    @if(otherPeerUserName && !isRemotePeerMediaActive){
    <span class="chat-room-media__error-message--span">Waiting for other peer to share their stream</span>
    }
  </p>
  }
  }@else {
  <button type="button" class="chat-room-media__button ycyw__button ycyw__button--2" (click)="deleteRoom()">Delete
    room</button>


  @if(!webRtcSessionStarted){
  <button type="button" class="chat-room-media__button ycyw__button ycyw__button--1" (click)="initializeConnection()"
    [disabled]="!otherPeerUserName || !isRemotePeerMediaActive || !localPeerHasSharedLocalMedia()">Start</button>

  <p class="chat-room-media__error-message">
    @if(isReceiver){
    <span class="chat-room-media__error-message--span">Waiting for room creator to start the WebRTC session</span>
    }

    @if(!otherPeerUserName){
    <span class="chat-room-media__error-message--span">Waiting for other peer to join the room</span>
    }

    @if(!localPeerHasSharedLocalMedia()){
    <span class="chat-room-media__error-message--span">You must share your local stream in order to start a WebRTC
      session</span>
    }


    @if(otherPeerUserName && !isRemotePeerMediaActive){
    <span class="chat-room-media__error-message--span">Waiting for other peer to share their stream</span>
    }
  </p>
  }

  }
  <!-- <button type="button" class="chat-room-media__button ycyw__button ycyw__button--1" (click)="sendTestMessage()">Send
    test message</button> -->
  } @else {

  <button type="button" class="chat-room-media__button ycyw__button ycyw__button--1" (click)="createRoom()"
    [disabled]="currentRoom()">Create new
    room</button>
  }

  <section class="chat-room-media__screen-recording">
    <video autoPlay playsInline #videoRecordingElementRef></video>

    <button (click)="startRecording()" [disabled]="isRecording()">Start</button>
    <button (click)="stopRecording()" [disabled]="!isRecording()">Stop</button>
    <a #downloadRecordingLinkRef>Download screen record</a>

    <p>{{ isRecording() ? '▶️ Recording in progress' : '⏹️ Not recording' }}</p>
  </section>
</aside>
