@use "../../../../../styles.scss" as *;


@keyframes blink-outline {
  from {
    outline: 2px solid yellowgreen;
  }

  to {
    outline: 2px solid transparent;
  }
}

:host {
  width: fit-content;
  order: -1;
}

.chat-room-media {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  padding: 15px;

  &__users-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__user {
    width: fit-content;

    padding-inline: 10px;
    padding-block: 5px;

    background-image: var(--ycyw-gradient);
    border-radius: 100vmax;

    &--is-ourselves {
      outline: 2px solid currentColor;
    }

    &--room-remote-peer {
      outline: 2px solid yellowgreen;
    }

    &--connected-remote-peer {
      outline: 2px solid yellowgreen;
      animation: blink-outline 2s ease-in-out infinite alternate;
    }
  }

  &__username {
    color: inherit
  }

  &__controls-fieldset {
    display: flex;
    flex-direction: column;
  }

  &__control {

    &--disabled {
      opacity: 50%;
      filter: grayscale(100%);

      cursor: not-allowed;
    }
  }

  &__video-input-device {

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__audio-input-device {

    &:disabled {
      cursor: not-allowed;
    }
  }


  &__join-button {

    width: fit-content;

    &--is-full {
      width: fit-content;
      filter: grayscale(1) !important;
    }
  }


  &__webcam-video {
    width: 300px;
    height: 150px;

    @include fit-image(contain);

    scale: -100% 100%;

    transition: width 250ms ease-in-out, height 250ms ease-in-out;

    &--remote {
      scale: 100% 100%;


      // &:picture-in-picture {      }
    }

    &--has-screen {
      --_size: 100% !important;

      width: var(--_size);
      height: var(--_size);
    }
  }


  &__calls-item {
    display: flex;

  }

  &__audio-indicator {}


  &__error-message {
    color: red;

    display: inline-flex;
    flex-direction: column;
  }

}