<aside class="chat-room-media">
  <ul class="chat-room-media__users-list">
    <li class="chat-room-media__user">
      <p class="chat-room-media__username">
        {{ownUsername()}}
      </p>
      <video autoplay playsInline #ownWebCamVideoRef class="chat-room-media__webcam-video"></video>
      <video autoplay playsInline #screenCastVideoRef class="chat-room-media__screen-cast-video"></video>
    </li>
    @for(user of usersList(); let index = $index; track index){
    @if(user !== ownUsername()){
    <li class="chat-room-media__user">
      <p class="chat-room-media__username">
        {{user}}
      </p>
      <video autoplay playsInline class="chat-room-media__webcam-video"></video>
    </li>
    }
    }
  </ul>

  <form class="chat-room-media__controls">
    <label class="chat-room-media__label chat-room-media__control">
      <input type="checkbox" name="" class="chat-room-media__input" (change)="toggleWebcam($event)" /> Webcam</label>

    <label class="chat-room-media__label chat-room-media__control">
      <input type="checkbox" name="" class="chat-room-media__input" (change)="toggleAudio($event)" /> Audio</label>

    <label class="chat-room-media__label chat-room-media__control">
      <input type="checkbox" name="" class="chat-room-media__input" (change)="toggleScreenCast($event)" /> Screen
      cast</label>

    <button type="button" class="chat-room-media__button ycyw__button ycyw__button--1"
      (click)="initializeConnection()">Connect to group
      chat</button>
  </form>
</aside>
