@use "../../../../styles.scss" as *;


.collapsible-height {
  &__wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;

    &--open {
      grid-template-rows: 1fr;
    }
  }

  &__container {
    overflow: hidden;
  }
}