@use "../utils/" as *;

@layer typography {

  //We import manually the font for the
  @font-face {
    font-family: "Phosphate Pro Solid";
    src: url("./fonts/phosphatepro-solid.otf");
  }


  // Typography
  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Open Sans,
      Helvetica Neue,
      sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family:
      "Phosphate Pro Solid",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Open Sans,
      Helvetica Neue,
      sans-serif;

    font-weight: normal;
  }
}
