@use "../../../styles.scss" as *;

.access-support {
  @include center-flex-column(25px);

  width: 100%;
  height: 100%;


  &__logo {
    border-radius: 15px;

    height: 150px;

    @include fit-image(contain);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__fieldset {
    display: inherit;
    gap: 15px;
  }

  &__button {
    width: 100%;

    padding: 5px;
    font-family: "Phosphate Pro Solid";

    background-color: var(--color-ycyw-1);
    border-radius: 100vmax;
  }

  &__label {}

  &__input {
    padding: 5px;
    outline: solid currentColor;
    outline-width: 1px;

    border-radius: 5px;

    &:focus-visible {
      outline-width: 2px;

    }
  }

  &__legend {

    margin-bottom: 15px;
  }
}
