<section class="access-support">

  <h1>Your car your way PoC</h1>

  <img src="/assets/png/your-car-your-way-logo.png" alt="Your car your way logo" class="access-support__logo" />

  <form class="access-support__form" [formGroup]="chatForm" (ngSubmit)="onSubmit($event)">
    <fieldset class="access-support__fieldset">
      <legend class="access-support__legend">WebSockets</legend>

      <label class="access-support__label" for="username">
        Enter your username
      </label>
      <input type="text" class="access-support__input" id="username" placeholder="Ex: John Doe" />
    </fieldset>

    <button type="submit" class="access-support__button">Join chat</button>
  </form>
</section>
