//Media queries
/*
 * These properties will be available in the future

 @custom-media --mobile-viewport (width <= 768px);
 @custom-media --tablet-viewport (768px <= width <=992px);
*/


@mixin mobile-only {
  @media screen and (width <=768px) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (768px <=width <=992px) {
    @content;
  }
}

@mixin laptop-only {
  @media screen and (992px <=width <=1150px) {
    @content;
  }
}

@mixin desktop-small-only {
  @media screen and (1150px <=width <=1475px) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (width>=1475px) {
    @content;
  }
}

//Other
//Flex mixins
@mixin center-flex($gap: 0px) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin center-flex-column($gap: 0px) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

//Mixin to center in the middle
@mixin absolute-center {
  translate: -50% -50%;
  inset: 50%;
}


//Mixin to make the image fit
@mixin cover-image ($position: center) {
  object-fit: cover;
  object-position: $position;
}

//Mixin to get the text ellipsis effect on a single line
@mixin single-ellipsis-effect {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//Mixin to get the text ellipsis effect after a few lines
@mixin multiline-ellipsis-effect($columns: 1) {
  line-clamp: $columns;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: $columns;
  -webkit-box-orient: vertical;
}
